@import "../utils.scss";

.header_cont{
    //border: 2px solid red;
    @include flex();
    //padding: 2px 5px;
    border-radius: 8px;
    //background-color: white;
    //z-index: 99;
    .logo{
        //border: 2px solid violet;
        width: 110px;
        height: 40px;
        background-color: #c5ffec;
        border-radius: 6px;
        img{
            width: 100%;
            height: 100%;
        }        
    }
    .search_cont_outer{
        //border: 2px solid red;
        display: block;
    }
    .search_cont_mobile{
        display: none;
        font-size: $l;
        padding: 4px;
        border: none;
        background-color: transparent;
    }
    .search_panel_mobile{
        //border: 2px solid red;
        background-color: white;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        box-sizing: border-box;
        padding: 0 10px;
        z-index: 4;
    }
    .nav{
        //border: 2px solid indigo;
        @include flex(unset, unset, unset, 10px);

        .nav_item_blocks{
            width: 270px;
            //border: 2px solid green;
            @include flex(flex-end, unset, unset, 10px);
            background: linear-gradient(125deg, $bgColor 10%, $primaryLight 0%);
            border-radius: 0 6px 6px 0;
            //background: red;
            padding: 5px;
        }
    }
    .ham_nav_cont{
        //border: 2px solid red;
        display: none;
        z-index: 3;
        .ham_toggler{
            //border: 2px solid indigo;
            @include flex(unset, unset, column, 5px);
            background-color: transparent;
            border: none;
            .ham_line{
                //border: 1px solid black;
                width: 27px;
                height: 4px;
                background-color: black;
            }
        }
        .ham_nav_side_panel_closer{
            //border: 2px solid blue;
            position: fixed;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            transition: 0.4s;
            background: rgba(0,0,0,0.6);
            .ham_nav_side_panel{
                //border: 2px solid violet;
                width: 70%;
                height: 100%;
                background: white;
                border-radius: 0 10px 10px 0;
                //position: fixed;
                //top: 0;
                //left: 0;
                //width: 50vw;
                //height: 100vh;
                //transition: 0.4s;
                .ham_nav_items{
                    //border: 2px solid green;
                    @include flex(unset, center, column, 30px);
                    padding: 30px 10px;
                    .ham_nav_item{
                        //border: 2px solid yellow;
                        color: $fontPrimary;
                        text-decoration: none;
                    }
                }
            }
        }
    }

}



@media screen and (width <= 850px) {
    .header_cont{
        .nav{
            //border: 2px solid red;
            .nav_item_dropdown{
                .nav_heading{
                    //border: 2px solid violet;
                    font-size: $s;
                }
                .dropdown_list{
                    .link{
                    }
                }
            }
        }
    }
}
@media screen and (width <= 750px) {
    .header_cont{
        .nav{
            //border: 2px solid green;
            display: none;
            .nav_item_dropdown{
                .nav_heading{
                    //border: 2px solid violet;
                    font-size: $s;
                }
                .dropdown_list{
                    .link{
                    }
                }
            }
        }
        .ham_nav_cont{
            //border: 2px solid red;
            display: block;
            .ham_toggler{
                //border: 2px solid indigo;
            }
            .ham_nav_side_panel_closer{
                .ham_nav_side_panel{
                    .ham_nav_items{
                        .ham_nav_item{
                        }
                    }
                }
            }
        }
    }
}
@media screen and (width <= 460px) {
    .header_cont{
        //border: 2px solid red;
        //display: inline-flex;
        //width: 100%;
        //box-sizing: border-box;
        //@include flex(unset, unset, unset, 12px);
        .logo{
        }
        .search_cont_outer{
            display: none;
        }
        //.search_cont{
        //    display: none;
        //    .search_icon{
        //        //border: 1px solid violet;
        //        width: 25px;
        //    }
        //    .search_inp{
        //        //border: 2px solid green;
        //        flex: 1;
        //        padding: 8px 6px;
        //        font-size: 0.8rem;
        //    }
        //    .placeholder_animation_cont{
        //        //border: 1px solid red;
        //        position: absolute;
        //        top: 7px;
        //        left: 30px;
        //        font-size: 0.8rem;
        //        .value{
        //            width: 150px;
        //        }
        //    }
        //    //.suggesstions_cont{
        //    //    //border: 2px solid red;
        //    //    position: absolute;
        //    //    top: 60px;
        //    //    left: 0;
        //    //    width: 100%;
        //    //    border-radius: 8px;
        //    //    background-color: white;
        //    //    transition: 0.4s;
        //    //    transform-origin: top;
        //    //    transition-timing-function: ease-in-out;
        //    //    z-index: 999;
        //    //    .suggesstion_section{
        //    //        //border: 2px solid green;
        //    //        margin: 10px 5px;
        //    //        .suggesstion_heading{
        //    //            font-size: 0.8rem;
        //    //            font-weight: 500;
        //    //        }
        //    //        .suggesstion_value{
        //    //            //border: 2px solid blue;
        //    //            font-size: 0.7rem;
        //    //            padding: 6px 6px;
        //    //            border-radius: 4px;
        //    //            border: none;
        //    //            //outline: none;
        //    //            display: block;
        //    //            width: 100%;
        //    //            text-align: left;
        //    //            cursor: pointer;
        //    //            background-color:white;
        //    //            color:$fontPrimary;
        //    //            &:hover{
        //    //                background-color: $primaryLight;
        //    //            }
        //    //        }
        //    //    }
        //    //    .first_section{
        //    //    }
        //    //    .second_section{
        //    //    }
        //    //    .third_section{
        //    //    }
        //    //    .fourth_section{
        //    //    }
        //    //    .fifth_section{
        //    //    }
        //    //}
        //}
        .search_cont_mobile{
            //border: 2px solid green;
            display: block;
            margin-left: auto;
        }
        .search_panel_mobile{
            //border: 2px solid red;
            //background-color: white;
        }
        .nav{
            //border: 2px solid green;
            display: none;
            .nav_item_dropdown{
                .nav_heading{
                    //border: 2px solid violet;
                    font-size: $s;
                }
                .dropdown_list{
                    .link{
                    }
                }
            }
        }
        .ham_nav_cont{
            //border: 2px solid blue;
            display: block;
            .ham_toggler{
                //border: 2px solid indigo;
            }
            .ham_nav_side_panel_closer{
                .ham_nav_side_panel{
                    .ham_nav_items{
                        .ham_nav_item{
                        }
                    }
                }
            }
        }
    }
}