@import "../utils.scss";

.home_bg{
    //border: 2px solid red;
    //.plot_info_dialog{
    //    border: 2px solid red;
    //    position: absolute;
    //    top: 0;
    //    left: 0;
    //}
    .agent_data_cont{
        display: flex;
        justify-content: space-around;
        padding: 10px;
        .agent_data{
            //border: 2px solid blue;
            max-width: 300px;

        }
    }
    .slips_cont{
        //border: 2px solid red;
        padding: 10px 2px;
        overflow-y: auto;
        .slip_cont{
            //border: 2px solid blue;
            font-size: 0.65rem;
            display: grid;
            grid-template-columns: 7% 7% 9% 7% 13% 7% 10% 11% 6% 13% 5% 5%;
            grid-template-rows: 40px;
            margin-top: 10px;
            place-items: center;
            //border: 1px solid $primaryDark;
            border-radius: 4px;
            background-color: white;
            color: #313131;
            box-shadow:0.1px 0.1px 2px 0.2px rgba(0,0,0,0.2);
            min-width: 1000px;
            .slip_info_heading{
                //border: 2px solid green;
                font-weight: 500;
            }
            .slip_info{
                //border: 2px solid green;
            }
            .send_sms{
                //border: 2px solid blue;
                .send_sms_btn{
                    //border: 2px solid green;
                    border-radius: 4px;
                    //padding: 3px;
                    width: 30px;
                    height: 30px;
                    background-color: $primaryLight;
                    border: none;
                    cursor: pointer;
                    &:hover{
                        background-color: $primaryDark;
                    }
                }
            }
        }
    }
    .load_more_btn{
        margin: 10px auto;
        padding: 10px;
        border-radius: 8px;
        background-color: white;
        color: $fontPrimary;
        border: 2px solid $primaryLight;
        display: block;
    }
    .scroll_bottom{
        text-align: center;
    }
}