@import"../utils.scss";

.single_plot_bg{
    //border: 2px solid blue;
    //height: 100%;
    //overflow-y: scroll;
    //position: relative;
    .plot_info_cont{
        //border: 2px solid orange;
        display: flex;
        gap: 10px;
        flex-wrap: wrap;
        justify-content: space-evenly;

    }
    .slips_cont{
        //border: 2px solid red;
        .slip_cont{
            //border: 2px solid violet;
            border-radius: 8px;
            //background-color: $primaryLight;
            //background-color: white;
            margin-top: 10px;
            box-shadow: 0.1px 0.1px 2px 0.2px rgba(0,0,0,0.2);
            //box-shadow: 0.1px 0.1px 2px 0.2px $primaryDark;
            .upper_part{
                //border: 2px solid green;
                display: grid;
                grid-template-columns: 11% 8% 8% 20% 11% 11% 7% 10% 14%;
                place-items: center;
                .slip_content{
                    padding: 10px;
                    font-size: 0.8rem;
                }
                .selectable{
                    //font-size: 0.8rem;
                    border: 1px solid $primaryDark;
                }
                .edit_btn{
                    background-color: $primaryLight;
                    border: none;
                    border-radius: 8px;
                    cursor: pointer;
                }
                .date{
                    //border: 2px solid indigo;
                }
                .slip_type{
                    //border: 2px solid blue;
                }
                .slip_number{
                    //border: 2px solid blue;
                }
                .client_name{
                    //border: 2px solid green;
                }
                .amount{
                    //border: 2px solid yellow;
                }
                .mode{
                    //border: 2px solid orange;
                }
            }
            .lower_part{
                //border: 2px solid blue;
                display: grid;
                grid-template-columns: 40% 60%;
                grid-template-rows: 2px;
                place-items: center;
                background-color:#ffe8e8;
                font-size: 0px;
                transition: 0.3s;
            }
        }
    }
}