@import "./utils.scss";

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    font-size: 18px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    //background-color: $bgColor;
    //background-color: red;
    //background: linear-gradient(0deg, white, rgb(182, 255, 222));
    background-repeat: no-repeat;
}